.posts svg{
    margin-right: 5px;
}
.posts h6{
    font-weight: bold;
    font-size: 1.1em;
    text-transform: capitalize;
}
.icon-wrapper div{
    margin-right: 15px;
    cursor: pointer;
}
input:focus{
    outline: none;
}